@import '../../theme/sass/bootstrap-overrides/dropdown';

.listItem{
    cursor:pointer;
}
.addCat{
    margin-left:20px;
    font-size: 20px;
}

.my-date-picker{
    font-size: 10px;
    color: blue;
}

.form-inline{
    margin-bottom: 20px;
}

#assignee{
    margin: 10px;
}

#searchId{
    height: 50px;
    width: 50px;
}

.dropZone{
    width: inherit;
    border:1px solid white;
    height: 40px;
    border-radius: 5px;
}

.dnd-drag-start {
    -moz-transform:scale(0.8);
    -webkit-transform:scale(0.8);
    transform:scale(0.8);
    opacity:0.7;
    border: 2px dashed white;
}

.dnd-drag-enter {
    opacity:0.7;
    border: 2px dashed black;
}

.dnd-drag-over {
    border: 2px dashed white;
    width: inherit;
}

.dnd-sortable-drag {
  -moz-transform:scale(0.9);
  -webkit-transform:scale(0.9);
  transform:scale(0.9);
  opacity:0.7;
  border: 1px dashed #000;
}

//activity 
.activityList{
    margin: 5px;
    padding: 5px;
    float: right;
    cursor:pointer;
}
