.myTask{
    align-content: center;
    text-align: center;
    padding: 15px;
}

.taskListingSpacing{
    height: 30px;
}

.taskIcon{
    border-radius: 50%;
}

//making taskk title clickable
.tasktitle{
    cursor: pointer;
}