<div id="myListHeading">
    <div class="col-sm-4"></div>
    <div class="col-sm-5"></div>
    <div class="col-sm-3">
        <div class="input-group">
            <input id="search" type="text" class="form-control with-danger-addon" placeholder="Search for...">
            <!--<span class="input-group-btn">
                <button class="btn btn-danger" type="button">Go!</button>
            </span>-->
        </div>
    </div>
</div>
<div class="taskListingSpacing"></div>
<div class="taskListing">
    <div *ngIf="pending">
        <i class="fa fa-spinner fa-spin fa-2x"></i>
        Checking..
    </div>
    <div class="col-sm-9 task-item" *ngFor="let item of taskArray;let sCount=index">
        <div class="col-sm-3 myTask"><img src="http://lorempixel.com/60/60/people?{{sCount}}" class="taskIcon"/></div>
        <div class="col-sm-3 myTask tasktitle">{{item.title}}</div>
        <div class="col-sm-3 myTask tasktitle">{{item.starCount}}</div>
        <div class="col-sm-3 myTask">
            <rating [(ngModel)]="taskArray[sCount].starCount" max="{{_max1}}" stateOn="ion-android-star" 
            stateOff="ion-android-star-outline"class="rating" (click)="updateRate(item.actId,item.starCount)"></rating>
            <span class="help-block">Rate: {{item.starCount}}</span>
        </div>
    </div>
</div>